<footer>

        <audio id="mainAudio">
            <source src="" preload="none" type="audio/mpeg">
        </audio>

        <div class = "player" >
          <p id="trackName"></p>
          <button id ="play" onclick="playTrack()">play</button>
          <button id = "stop" onclick="stopTrack()" style="display:none;">stop</button>
          <button id="nextTrack" onclick="nextTrack()">Next</button>
        </div>

<script src="js/audio.js"></script>
</footer>
