<!DOCTYPE html>
<html lang="ro">
    <head>
    <meta charset="utf-8">
    <meta name = "author" content="Smeu Stefan">
  <meta name="description" content="Online Streaming Web App">
  <meta name="keywords" content="artisti populari top 10 melodii streaming muzica online">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnSpotIfy</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        
        <!--<link rel="icon" type="text/css" href="source/img/favicon.png">-->
    </head>
<body>

<%- include("../fragmente/header") %>

    <main>
<h1>Error 404</h1>
    </main>

<%- include("../fragmente/footer") %>
    </body>

</html>
