<!doctype html>
<html lang="ro">
    <head>
    <meta charset="utf-8">
    <meta name = "author" content="Smeu Stefan">
  <meta name="description" content="Online Streaming Web App">
  <meta name="keywords" content="genuri de muzica pop rock jazz hip hop house streaming muzica online">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnSpotIfy - Genuri de mzuica</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/genuri_muzica.css">
      
    </head>
<body>

<%- include("../fragmente/header") %>

    <main>
        <section>
    <h2>Genuri de muzica</h2>
    <ul>
    <li>            <img src="img/pop1.jpg" alt="pop music">
            <img src="img/pop2.jpg" alt="pop music">
            <img src="img/pop3.jpg" alt="pop music">
        <a href="pop">Pop</a></li>
        <li>
            <img src="img/rock1.jpg" alt="rock music">
            <img src="img/rock2.jpg" alt="rock music">
            <img src="img/rock3.jpg" alt="rock music">
            <a href="rock">Rock</a>
        </li>
        <li>
                        <img src="img/jazz1.jpg" alt="jazz music">
            <img src="img/jazz2.jpg" alt="jazz music">
            <img src="img/jazz3.jpg" alt="jazz music">
            <a href="jazz">Jazz</a></li>
        <li>            <img src="img/hip_hop1.png" alt="hip hop music">
            <img src="img/hip_hop2.jpg" alt="hip hop music">
            <img src="img/hip_hop3.jpg" alt="hip hop music">
            <a href="hip-hop">Hip Hop</a></li>
        <li>            <img src="img/house1.jpg" alt="house music">
            <img src="img/house2.jpg" alt="house music">
            <img src="img/house3.jpg" alt="house music">
            <a href="house">House</a></li>
    </ul>
     </section>

<div id ="credits">
            <a href="#top">Du-ma sus</a>
<p>Site creat de Smeu Stefan</p>

</div>
    </main>
<%- include("../fragmente/footer") %>
    </body>
