<!doctype html>
<html lang="ro">
    <head>
    <meta charset="utf-8">
    <meta name = "author" content="Smeu Stefan">
  <meta name="description" content="Online Streaming Web App">
  <meta name="keywords" content="hip hop noutati streaming muzica online">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnSpotIfy - Hip Hop</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/gen_muzica.css">
        
    </head>
<body>

<%- include("../fragmente/header") %>
    <main>
        <h1>Muzica Hip-Hop</h1>
        <section>
            <p>Muzica hip hop este un gen evoluat din muzica pop. Este alcătuit din 2 componente: rapping și DJing; împreună cu breakdance și graffiti și Beatbox/Beatboxing alcătuiesc cele 4 elemente ale culturii hip hop. Termenii rap și muzică rap sunt folosiți frecvent pentru a descrie muzica hip hop. KRS One, unul dintre promotorii genului are o piesa prin care aduce in atentia ascultatorilor faptul ca hip hop-ul este compus, de fapt, din 9 elemente, iar numele piesei este „9 Elements”.
            </p>  <h2>Inceputuri</h2><p>
Inițiatorii hip hop-ului sunt considerați a fi Sugarhill Gang și Grandmaster Flash împreună cu Afrika Bambaataa neuitând și de Dj Cool Herc (cel care a descoperit efectul de „Scratch”) [necesită citare], aceștia făcând parte din generația old school a hip-hop-ului.

Primul videoclip al acestui gen muzical aparține Sugarhill Gang, pentru melodia „Rapper's Delight”.

Printre „clasicii” genului se mai numară și reprezentanții primului val new school, apărut la jumatatea anilor '80: Run DMC, KRS One, Rakim, Juice Crew, etc. Pe plan internațional, acest gen de muzică este într-o continua creștere, însă cei familiarizați cu genul consideră perioada 1995-1996 „apogeul muzicii hip hop”.</p>
            <ul>
            <li>2Pac</li>
            <li>Rakim</li>
            <li>The Notorious B.I.G.</li>
            <li>Nas</li>
            <li>JAY-Z</li>
            <li>Kendrick Lamar</li></ul>
        </section>

<div id ="credits">
            <a href="#top">Du-ma sus</a>
<p>Site creat de Smeu Stefan</p>

</div>
    </main>
<%- include("../fragmente/footer") %>
    </body>
