<!doctype html>
<html lang="ro">
    <head>
    <meta charset="utf-8">
    <meta name = "author" content="Smeu Stefan">
  <meta name="description" content="Online Streaming Web App">
  <meta name="keywords" content="house noutati streaming muzica online">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnSpotIfy - Genuri de mzuica</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/gen_muzica.css">
      
    </head>
<body>

<%- include("../fragmente/header") %>
    <main>
        <h1>Muzica House</h1>
        <section>
            <p>Muzica house (pronunțat: /haus/; cunoscută și ca muzică de club) este un gen al muzicii dance electronice care a luat naștere în Chicago, Illinois, Statele Unite, în 1983. A fost inițial popularizată în discoteci, la mijlocul anilor '80, comunităților Afro-americane și Latino-americane ; mai întâi în Chicago, apoi în alte orașe precum New York, Toronto, Montreal, Londra, Detroit, San Francisco, Los Angeles și Miami. Apoi a ajuns în Europa în mare parte datorită turului de promovare din cluburile englezești. De asemenea, Anglia a jucat un rol esențial în evoluția muzicii house peste tot în Europa.

Muzica house are puternice rădăcini soul și funk. House-ul imită în general percuțiile disco, în special prin folosirea unui bas de tobă proeminent pe fiecare beat, dar mai poate înfățișa o linie de bas proeminentă de sintetizator, tobe electronice, efecte electronice, mostre de funk și pop, și ecouri sau întârzieri intensificate de voce.</p>
            <h2>Istoria Genului</h2>
            <p>
            Au fost doi DJ din două cluburi din două orașe care au contribuit indiscutabil la apariția Muzicii house pe care o știm azi. Este vorba despre Frankie Knuckles din clubul Warehouse din Chicago, și Larry Levan din discoteca Paradise Garage din New York. Ambii erau adepții unor stiluri de muzică foarte diferite, dar erau foarte populari pentru același motiv pentru care au doborât barierele rasei și a sexului, abandonând politica de segregare care era norma pentru alte cluburi. Muzica pusă în Paradise Garage a evoluat logic din genul disco de salsoul și prelude, amestecat cu reeditări de melodii RnB, într-un stil numit Garage. În Chicago, influențele erau mult mai europene. Clubul Warehouse a fost deschis în 1977 cu un sound caracterizat de sintetizatoare electronice și beat-uri de tobă care au devenit cunoscute ca Muzică house. Aceste cluburi au devenit o mană cerească pentru producătorii locali care experimentau noi tehnologii de muzică accesibile la preț, destinate doar pentru ringul de dans.</p>

            <ul>
            <li>Daft Punk</li>
            <li>Frankie Knuckles</li>
            <li>Avicii</li>
            <li>Calvin Harris</li>
            <li>Armin van Buuren</li>
            <li>Carl Cox</li></ul>
        </section>
        <div id ="credits">
            <a href="#top">Du-ma sus</a>
<p>Site creat de Smeu Stefan</p>

</div>
    </main>
<%- include("../fragmente/footer") %>
    </body>
