<!DOCTYPE html>
<html lang="ro">
    <head>
    <meta charset="utf-8">
    <meta name = "author" content="Smeu Stefan">
  <meta name="description" content="Online Streaming Web App">
  <meta name="keywords" content="artisti populari top 10 melodii streaming muzica online">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnSpotIfy</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/calendar.css">
        <script src="/js/calendar.js"></script>
    </head>
<body>

<%- include("../fragmente/header") %>

    <main>
<section>
    <h2>Top 10 al saptamanii</h2>


    <div>
        <p>Lorde - Royals</p>
         <audio >
            <source src="/music/Lorde-Royals.mp3" type="audio/mpeg">
        </audio>
        <div class="audioButtons">
            <button class="playSingle" onclick="playSingle(this)">Play</button>
            <button class="stopSingle" onclick="stopSingle(this)" style="display:none">Stop</button>
            <button class ="addTrackList" onclick="addToTrackList(this)">Adauga in lista de ascultare</button>
        </div>
    </div>

    <div>
        <p>Nirvana - Smells Like Teen Spirit</p>
         <audio >
            <source src="/music/Nirvana-Smells_Like_Teen_Spirit.mp3" type="audio/mpeg">
        </audio>
        <div class="audioButtons">
            <button class="playSingle" onclick="playSingle(this)">Play</button>
            <button class="stopSingle" onclick="stopSingle(this)" style="display:none">Stop</button>
            <button class ="addTrackList" onclick="addToTrackList(this)">Adauga in lista de ascultare</button>
        </div>
    </div>
    <div>
        <p>Bee Gees - Stayin Alive</p>
         <audio >
            <source src="/music/Bee_Gees-Stayin_Alive.mp3" type="audio/mpeg">
        </audio>
        <div class="audioButtons">
            <button class="playSingle" onclick="playSingle(this)">Play</button>
            <button class="stopSingle" onclick="stopSingle(this)" style="display:none">Stop</button>
            <button class ="addTrackList" onclick="addToTrackList(this)">Adauga in lista de ascultare</button>
        </div>
    </div>
    <div>
        <p>Netsky - Rio</p>
         <audio >
            <source src="/music/NetSky-Rio.mp3" type="audio/mpeg">
        </audio>
        <div class="audioButtons">
            <button class="playSingle" onclick="playSingle(this)">Play</button>
            <button class="stopSingle" onclick="stopSingle(this)" style="display:none">Stop</button>
            <button class ="addTrackList" onclick="addToTrackList(this)">Adauga in lista de ascultare</button>
        </div>
    </div>
    <div>
        <p>Nirvana - Smells Like Teen Spirit</p>
         <audio >
            <source src="/music/Nirvana-Smells_Like_Teen_Spirit.mp3" type="audio/mpeg">
        </audio>
        <div class="audioButtons">
            <button class="playSingle" onclick="playSingle(this)">Play</button>
            <button class="stopSingle" onclick="stopSingle(this)" style="display:none">Stop</button>
            <button class ="addTrackList" onclick="addToTrackList(this)">Adauga in lista de ascultare</button>
        </div>
    </div>
    <div>
        <p>Nirvana - Smells Like Teen Spirit</p>
         <audio >
            <source src="/music/Nirvana-Smells_Like_Teen_Spirit.mp3" type="audio/mpeg">
        </audio>
        <div class="audioButtons">
            <button class="playSingle" onclick="playSingle(this)">Play</button>
            <button class="stopSingle" onclick="stopSingle(this)" style="display:none">Stop</button>
            <button class ="addTrackList" onclick="addToTrackList(this)">Adauga in lista de ascultare</button>
        </div>
    </div>
    <div>
        <p>Nirvana - Smells Like Teen Spirit</p>
         <audio >
            <source src="/music/Nirvana-Smells_Like_Teen_Spirit.mp3" type="audio/mpeg">
        </audio>
        <div class="audioButtons">
            <button class="playSingle" onclick="playSingle(this)">Play</button>
            <button class="stopSingle" onclick="stopSingle(this)" style="display:none">Stop</button>
            <button class ="addTrackList" onclick="addToTrackList(this)">Adauga in lista de ascultare</button>
        </div>
    </div>
    <div>
        <p>Nirvana - Smells Like Teen Spirit</p>
         <audio >
            <source src="/music/Nirvana-Smells_Like_Teen_Spirit.mp3" type="audio/mpeg">
        </audio>
        <div class="audioButtons">
            <button class="playSingle" onclick="playSingle(this)">Play</button>
            <button class="stopSingle" onclick="stopSingle(this)" style="display:none">Stop</button>
            <button class ="addTrackList" onclick="addToTrackList(this)">Adauga in lista de ascultare</button>
        </div>
    </div>
    <div>
        <p>Nirvana - Smells Like Teen Spirit</p>
         <audio >
            <source src="/music/Nirvana-Smells_Like_Teen_Spirit.mp3" type="audio/mpeg">
        </audio>
        <div class="audioButtons">
            <button class="playSingle" onclick="playSingle(this)">Play</button>
            <button class="stopSingle" onclick="stopSingle(this)" style="display:none">Stop</button>
            <button class ="addTrackList" onclick="addToTrackList(this)">Adauga in lista de ascultare</button>
        </div>
    </div>
    <div>
        <p>Nirvana - Smells Like Teen Spirit</p>
         <audio >
            <source src="/music/Nirvana-Smells_Like_Teen_Spirit.mp3" type="audio/mpeg">
        </audio>
        <div class="audioButtons">
            <button class="playSingle" onclick="playSingle(this)">Play</button>
            <button class="stopSingle" onclick="stopSingle(this)" style="display:none">Stop</button>
            <button class ="addTrackList" onclick="addToTrackList(this)">Adauga in lista de ascultare</button>
        </div>
    </div>


</section>

<section>
    <h2>Artisti in voga</h2>
    <ul>
    <li><img src="/img/lady_gaga.jpg" alt="lady gaga">
        <p>Lady Gaga</p></li>
    <li><img src="/img/biggie.jpg" alt="the notorious BIG">
        <p>The Notorious B.I.G.</p></li>
    <li><img src="/img/bon_jovi.jpg" alt="bon jovi">
        <p>Bon Jovi</p></li>
    <li><img src="/img/david_guetta.jpg"  alt="david guetta">
        <p>David Guetta</p></li>
    <li><img src="/img/frank_sinatra.jpg"  alt="frank sinatra">
        <p>Frank Sinatra</p></li>
    <li><img src="/img/jimi_hendrix.jpg"  alt="jimi hendrix">
        <p>Jimi Hendrix</p></li>
    </ul>
</section>

<h1>Calendarul concertelor</h1>
<div class="calendar-wrap" >
  <h2 class="month">Ianuarie</h2>

  <table class="calendar">
    <thead>
      <tr>
        <th class="day-title" scope="col">Luni</th>
        <th class="day-title" scope="col">Marti</th>
        <th class="day-title" scope="col">Miercuri</th>
        <th class="day-title" scope="col">Joi</th>
        <th class="day-title" scope="col">Vineri</th>
        <th class="day-title" scope="col">Sambata</th>
        <th class="day-title" scope="col">Duminica</th>
      </tr>
    </thead>
    <tbody>
      <button class="calendarNav" onclick="prevMonth()"><</button>
      <button class="calendarNav" onclick="nextMonth()">></button>
      <tr class="week">
        <td class="day prev-mon" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">30</span></td>
        <td class="day prev-mon" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">31</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number" title="Titlu:asdasd &#013;Descriere:asdasdsda">1</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">2</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">3</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">4</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">5</span></td>
      </tr>
      <tr class="week">
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">6</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">7</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">8</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">9</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">10</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">11</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">12</span></td>
      </tr>
      <tr class="week">
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">13</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">14</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">15</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">16</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">17</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">18</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">19</span></td>
      </tr>
      <tr class="week">
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">20</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">21</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">22</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">23</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">24</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">25</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">26</span></td>
      </tr>
      <tr class="week">
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">27</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">28</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">29</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">30</span></td>
        <td class="day" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">31</span></td>
        <td class="day next-mon" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">1</span></td>
        <td class="day next-mon" tabindex="0" ondblclick="addConcert(this)"><span class="day-number">2</span></td>
      </tr>
    </tbody>
  </table>
  <form id="calendar-form" method="post" action="/addConcert">
    <label>Titlu</label>
    <input type="text" name="titlu">

    <label>Descriere</label>
    <textarea type="text" name="desc"></textarea>

    <label>Prioritate</label>

    <input type="radio" name="prioritate" value="verde" class="radio">
    <label class="radio">verde</label>
    <input type="radio" class="radio" name="prioritate" value="galben">
    <label class="radio">galben</label>
    <input type="radio" name="prioritate" value="rosu" class="radio">
    <label class="radio">rosu</label>



    <input name="day" id="form-day" type="text"></input>
    <input name="month" id="form-month" type="text"></input>
<br><br>
    <button value="Submit" type="submit" >Submit</button>
  </form>

</div>





<div id ="credits">
            <a href="#top">Du-ma sus</a>
<p>Site creat de Smeu Stefan</p>

</div>

    </main>

<%- include("../fragmente/footer") %>
    </body>

</html>
