<!doctype html>
<html lang="ro">
    <head>
    <meta charset="utf-8">
    <meta name = "author" content="Smeu Stefan">
  <meta name="description" content="Online Streaming Web App">
  <meta name="keywords" content="jazz noutati streaming muzica online">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnSpotIfy - Jazz</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/gen_muzica.css">
      
    </head>
<body>

<%- include("../fragmente/header") %>
    <main>
        <h1>Muzica Jazz</h1>
        <section>
            <p>Jazz-ul s-a dovedit a fi foarte greu de definit, deoarece cuprinde o gamă largă de muzică ce se întinde pe o perioadă de 100 de ani, de la ragtime până in prezent. Au fost facute încercări de a defini jazz-ul din perspectiva altor tradiții muzicale, cum ar fi istoria muzicii europene sau muzica africană. Dar criticul Joachim-Ernst Berendt susține ca termenii săi de referință și definiția ei ar trebui să fie mai largă, definind jazz-ul ca o "formă de artă muzicală care provine din Statele Unite ale Americii, prin confruntarea negrilor cu muzica europeană" și argumentând că aceasta diferă de muzica Europeană în care jazz-ul are o "relație specială în timp definită ca fiind 'swing'", implică "o spontaneitate și vitalitate de producție muzicală în care improvizația joacă un rol" și conține o "sonoritate și manieră de frazare care reflectă individualitatea performanței muzicianului de jazz".

O definiție mai largă care cuprinde toate diferitele epoci de jazz a fost propusă de Travis Jackson:"aceasta este muzica care include calități cum ar fi swing, improvizații, interacșiunde de grup, dezvoltatea unei "voci individuale", și fiind deschis la diferite posibilități muzicale". Krin Gibbard a oferit o imagine de ansmblu a discuției privind definițiile, argumentând că "jazz-ul este un construct" care, în timp ce artificial încă mai este util să desemneze "un număr de muzici cu suficiente în comun să fie înțelese ca parte a unei tradiții coerente". Spre deosebire de eforturile depuse de comentatori și entuziaști ai anumitor tipuri de jazz, care au susținut definiții mai restrânse ce exclud alte tipuri, muzicienii înșiși sunt adesea reticenși în a defini muzica pe care o cântă. Duke Ellington, una dintre figurile cele mai faimoase a jazz-ului, a declarat: "totul e muzică".</p>
            <h2>Istoria genului</h2>
            <p>Jazzul își are originea în amestecul diverselor tradiții muzicale ale sclavilor negri proveniți din Africa. Din tradiția africană derivă stiluri de interpretare care lasă căntărețului un spațiu larg de execuție și libertate de improvizare, cu o schemă "Întrebare și răspuns" (Call-and-Response) pe un fond ritmic complex, ce duce la sincoparea melodiilor executate de diverse instrumente. Alte surse ale jazzului sunt constituite de cântecele rurale ale culegătorilor de bumbac, în stil blues, cântecele de leagăn și cele religioase (negro spirituals, apoi gospel songs). La acestea s-au adăugat și elemente ale muzicii europene (marșuri, imnuri, muzică populară), mai ales unele armonii și acorduri, ca principii de organizare a unor anumite forme muzicale.</p>
            <ul>
            <li>Miles Davies</li>
            <li>Louis Armstrong</li>
            <li>John Coltrane</li>
            <li>Charlie Parker</li>
            <li>Ella Fitzgerald</li>
            <li>Frank Sinatra</li></ul>
        </section>

<div id ="credits">
            <a href="#top">Du-ma sus</a>
<p>Site creat de Smeu Stefan</p>

</div>
    </main>
<%- include("../fragmente/footer") %>
    </body>
