<!doctype html>
<html lang="ro">
    <head>
    <meta charset="utf-8">
    <meta name = "author" content="Stefan">

    <title>OnSpotIfy - Genuri de mzuica</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/gen_muzica.css">
      
    </head>
<body>

<%- include("../fragmente/header") %>
    <main>
        <h1>Muzica Pop</h1>
        <section>
            <p>Muzica pop reprezintă un gen muzical și cea mai consistentă parte componentă a muzicii corespunzătoare culturii de masă (en. popular culture) de-a lungul secolului XX, continuându-se până în prezent. În majoritatea cazurilor, structura muzicii pop este una lejeră, pe ritmuri agreabile, adeseori dansante. Subiectele predilecte pentru genul pop sunt: dragostea (împlinită sau nu), libertatea, reușita ș.a.</p>
            <h2>Istoria și evoluția conceptului</h2>
            <p>Cuvântul „pop” este preluat din limba engleză, unde servește ca abreviere pentru adjectivul popular („celebru”, „faimos”); termenul englezesc a dat naștere mai multor concepte privitoare la cultura produsă de populația de la oraș, prin abordări artistice cu un grad de utilitate semnificativ mai ridicat decât în cazul creației culte (care mizează nu arareori pe „arta pentru artă”), prin vehicularea unor mesaje de protest pricinuite de viciile societății, de scena politică națională sau mondială etc. Cel mai mare impact l-a avut conceptul de popular culture (mai scurt, pop culture), care introduce un concurent puternic pentru cultura savantă. Creațiile sale împrumută unele trăsături ale folclorului (în cazul muzicii, vezi și aici), dar autorii sunt, cel mai adesea, orășeni; prin urmare, nivelul de educație școlară este unul mai ridicat, cei mai mulți dintre reprezentații noii culturi fiind cel puțin semi-docți. După probarea succesului noii mișcări, pop culture a scos la lumină și alte laturi decât pe aceea dezinteresată, fiind o strategie excelentă atât pentru a influența publicului ca țintă a deciziilor politice, cât și de exploatare a lui în scop comercial.

Muzica pop cuprinde o parte semnificativă din manifestările muzicale ale acestei culturi a maselor; cu timpul, necesitățile taxonomice i-au restrâns sfera de semnificații, vechi accepțiuni ale sale fiind indicate prin denumirile unor noi curente muzicale, derivate. În mod deosebit genurile protestatare, incomode, și-au ales un făgaș propriu. Mergând către zilele noastre, muzica pop a păstrat subiectele prin care se reflectă viața de zi cu zi, cel mai frecvent fiind descrise evenimentele lipsite de spectaculos; tocmai această rețetă care garantează (sau de multe ori simulează, atunci când rațiunea comercială este mai pregnantă) sinceritatea demonstrează succesul majoritar de care genul continuă să se bucure.</p>
            <h2>Artisti infulenti</h2>
            <ul>
            <li>Michael Jackson</li>
            <li>Madona</li>
            <li>Justin Timberlake</li>
            <li>David Bowie</li>
            <li>Lady Gaga</li>
            <li>Rihanna</li></ul>
        </section>


<div id ="credits">
            <a href="#top">Du-ma sus</a>
<p>Site creat de Smeu Stefan</p>

</div>

    </main>
<%- include("../fragmente/footer") %>
    </body>
