<!doctype html>
<html lang="ro">
    <head>
    <meta charset="utf-8">
    <meta name = "author" content="Smeu Stefan">
  <meta name="description" content="Online Streaming Web App">
  <meta name="keywords" content="muzica rock noutati streaming muzica online">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnSpotIfy - Rock</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/gen_muzica.css">
      
    </head>
<body>


  <%- include("../fragmente/header") %>

    <main>
        <h1>Muzica Rock</h1>
        <section>
            <p>Muzica rock este un gen muzical specific celei de-a doua jumătăți a secolului XX și secolului XXI. Instrumentele muzicale de bază pentru rock sunt chitarele electrice (varianta standard cu șase corzi și chitara bas) și bateria, însă în multe subgenuri se întâlnesc și claviaturi (pian, orgă electronică, sintetizator) sau alte instrumente.</p>
            <h2>Istoria genului</h2>
            <p>Muzica rock își are rădăcinile în rock and roll-ul anilor '50. A apărut prima oară prin combinarea muzicii country cu blues. Ulterior s-au adăugat și elemente de rhythm and blues. De la început au apărut subgenuri, însă începând cu anii '70 aceste subgenuri s-au înmulțit și mai ales s-au diferențiat foarte mult. Astfel au apărut genurile punk, heavy metal, alternative rock și altele, care la rândul lor au dat naștere unor subgenuri.</p>
            <h2>Artisti infulenti</h2>
            <ul>
            <li>The Beatles</li>
            <li>AC/DC</li>
            <li>Queen</li>
            <li>The Rolling Stones</li>
            <li>Pink Floyd</li>
            <li>Led Zeppelin</li></ul>
        </section>

<div id ="credits">
            <a href="#top">Du-ma sus</a>
<p>Site creat de Smeu Stefan</p>

</div>
    </main>

<%- include("../fragmente/footer") %>
    </body>
